@import 'https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons-wind.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/weathericons-regular-webfont.ttf';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #282c35;
  color: #fff;
  transition: background 0.5s ease-in-out;
  text-align: center;
  background: linear-gradient(to bottom, #39424f, #282c35);
}

.container {
  width: 400px;
  background-color: #3a3f4b;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 24px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

.container:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #61dafb;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
  color: #a0a0a0;
}

.weather-icon {
  font-size: 64px;
  margin-bottom: 16px;
  color: #61dafb;
  text-align: center;
}

.temperature {
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #fff;
  text-align: center;
}

.temperature-unit {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #a0a0a0;
  text-align: center;
}

.location {
  font-size: 14px;
  font-weight: 300;
  color: #a0a0a0;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.temperature-switch {
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  color: #61dafb;
  text-align: center;

}

.temperature-switch span {
  margin: 0 4px;
  color: #fff;
}

.temperature-switch:hover {
  text-decoration: underline;
  color: #ff8c00;
}

.custom-location-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.custom-location-form label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  color: #a0a0a0;
}

.custom-location-form input {

  width: 88%;
  padding: 10px;
  margin-bottom: 12px;
  border: none;
  border-bottom: 2px solid #61dafb;
  background-color: #3a3f4b;
  color: #fff;
  transition: border-bottom 0.3s ease-in-out;
  border-radius: 10px;
}

.custom-location-form input:focus {
  outline: none;
  border-bottom: 2px solid #ff8c00;
}

.custom-location-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #61dafb;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.custom-location-form button:hover {
  background-color: #ff8c00;
}


footer {
  color: #fff;
  text-align: center;
  padding: 20px 0;

}

.link {
  color: #61dafb;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;

}

.love {
  color: #ff4081;
}